
/cache
/**/node_modules
resources/\[esx_addons\]/esx_property/properties.json

/txData/*/data
/txData/*/logs
/resources/\[assets\]/noire_vehicles
resources/\[esx_addons\]/esx_property/properties.json
resources/\[addons\]/\[npwd\]/npwd/sv_npwd.log
resources/\[esx_addons\]/esx_property/properties.json
resources/\[esx_addons\]/esx_property/properties.json
resources/\[npwd\]/npwd/sv_npwd.log
resources/\[esx_addons\]/esx_property/properties.json
resources/\[npwd\]/npwd/sv_npwd.log
*.log
/db
