*.ytd filter=lfs diff=lfs merge=lfs -text
*.ydd filter=lfs diff=lfs merge=lfs -text
*/*.ydd filter=lfs diff=lfs merge=lfs -text
/*.ytd filter=lfs diff=lfs merge=lfs -text
*/*.ytd filter=lfs diff=lfs merge=lfs -text
